.task {
    display: flex;
    width: 100%;
}

.editingMode{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.editingMode__txt {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.editingMode__btn {
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.normalMode {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.normalMode__txt {
    display: flex;
    align-items: center;
    gap: 12px;
}

.normalMode__btn {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-left: 10px;
}

.btn {
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.btnEdit {
    background-image: url("../img/image.png");
}

.btnDelete {
    background-image: url("../img/icons8-удалить-26.png");
}

.btnBreakEdit {
    background-image: url("../img/icons8-отменить-26.png");
}

.btnSaveEdit {
    background-image: url("../img/icons8-сохранить-26.png");
}

.checkboxLabel {
    position: relative;
    padding-left: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    color: #000;
    cursor: pointer;
    user-select: none;
}

.checkboxLabel::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    border: 1px solid rgba(204, 204, 204, 1);;
}

.checkbox {
    display: none;
}

.checkbox:checked + .checkboxLabel::before {
    border-color: rgba(0, 181, 14, 1);;
    background-image: url('../img/icons8-галочка-26.png');
    background-size: contain;
}

.editingMode__txt__input {
    border-radius: 5px;
    max-width: 220px;
}