.editingMode{
    width: 100%;
    justify-content: space-between;
}

.editingMode__txt {
    align-items: center;
    box-sizing: border-box;
    gap: 30px;
}

.editingMode__btn {
    gap: 10px;
    padding-left: 10px;
}

.normalMode {
    width: 100%;
    justify-content: space-between;
}

.normalMode__txt {
    align-items: center;
    gap: 30px;
}

.formItem {
    margin: 0;
}

.normalMode__btn {
    gap: 20px;
    padding-left: 10px;
}

.btn {
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.editingMode__txt__input {
    border-radius: 5px;
    max-width: 220px;
}