@media all {
    .authorizationPage {
        box-sizing: border-box;
        
        height: 100vh;
    }

    .rightSectionPage {
        width: calc((754/1920)*100%);
        box-sizing: border-box;
    }

    .authorizationForm {
        max-width: 420px;
        padding-top: 36px;
        padding-bottom: calc((317 / 1080) * 100vh);
        margin: 0 auto;
    }

    .authorizationFormTitle {
        font-family: "Nunito Sans", sans-serif;
    };

    .logoForm {
        margin: 0 auto;
    }

    .loginBtn {
        width: 100%;
        background-color: rgb(127, 38, 91);
        color: rgb(255, 255, 255);
    }

    .loginBtn:hover {
        border-color: rgb(127, 38, 91);
        color: rgb(127, 38, 91);
    }

    .checkboxRememberMe {
        color: rgb(127, 38, 91);
    }
}

@media (min-width: 1800px){
    .rightSectionPage {
        padding-left: calc((140 / 1920) * 100%);
        padding-right: calc((190 / 1920) * 100%);
        padding-top: calc((180 / 1080) * 100vh);
    }
}

@media (max-width: 1800px){
    .rightSectionPage {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
}