.filter {
    padding-bottom: 20px;
}

.filter__btn{
    cursor: pointer;
    color: rgb(93, 93, 93);
    background-color: rgb(255, 255, 255);
    border: none;
}

.filter__btn:focus-visible{
    outline: none;
}

.btn__active {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(102, 153, 255);;
    outline: none;
}