.registerBtn {
    width: 100%;
    background-color: rgb(127, 38, 91);
    color: rgb(255, 255, 255);
}

.registrationPage {
    box-sizing: border-box;
    
    height: 100vh;
}

.rightSectionPage {
    width: calc((754/1920)*100%);
    box-sizing: border-box;
}

.registrationForm {
    max-width: 420px;
    padding-top: 30px;
    margin: 0 auto;
}

.registrationForm__title {
    font-family: "Nunito Sans", sans-serif;
};

.logoForm {
    margin: 0 auto;
}

.modalWindow__txt {
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    text-align: center;
}

.modalWindow__btn {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    margin-top: 10px;
}