.errMessageForUsers {
    width: 100%;
    padding-top: 20px;
    height: 100dvh;
    align-items: center;
}

.errMessageForUsers__title {
    font-weight: 700;
    font-size: 36px;
    color: rgb(82, 82, 82);
    margin: 0
}

.errMessageForUsers__paragraph {
    font-weight: 400;
    font-size: 16px;
    color: rgb(82, 82, 82);
}