.input__form form {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.input__form-task__new {
    width: 200px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.input__form-task__new:required:valid {
    width: 200px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.input__form-task__new:focus{
    outline: none;
}

.input__form-task__new:invalid:focus {
    border-color: red;
}

.input__form-task__add {
    width: 90px;
    height: 30px;
    border-radius: 6px;
    background-color: #6699ff;
    color: white;
    border: none;
}