.task__list {
    box-sizing: border-box;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    list-style: none;
    width: 100%;
    display: block;
    border-block-end: none;
}